.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    visibility: hidden;
}
  
.title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 595px;
    margin-left: 55px;
}

.gameBoard-content {
    display: grid;
    width: 595px;
    height: fit-content;
    grid-template-columns: 50px 545px;
    grid-template-rows: 50px 545px;
    gap: 5px;
}

.numbers-container {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.numbers {
    display: flex;
    gap: 5px;
    margin-left: 55px;
}

.number-tag,
.letter-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
}

.letters {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.board {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
    width: 545px;
    height: 545px;
}

.empty,
.number-tag,
.letter-tag,
.cell {
    width: 50px;
    height: 50px;
}

.cell {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px black;
}

// Drag and Drop

.cell.valid {
    background-color: green;
}

.cell.invalid {
    background-color: red;
}

.cell.valid, 
.cell.invalid {
    transition: background-color 0.1s ease;
}