body {
    display: flex;
    max-height: 100vh;

    margin-top: 50px;
}

// Hide player 2 buttons on SinglePlayer mode
.content#computer .buttons,
.content#computer .ships {
    visibility: hidden;
}